@model LocalStorage.Models.TestFormModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TestFormModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherBirthPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherBirthPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherBirthPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherBirthPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SposeMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SposeMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpusePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpusePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPlaceAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPlaceAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseBirthPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseBirthPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Int">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
